# Core functionality - changes here should be rare!
/src/app.py                   @christoper-25
/src/backend/database.py      @christoper-25
/src/backend/routers/auth.py  @christoper-25

# The frontend will need refactored soon to be more object oriented.
/src/static/   @christoper-25
